/*
 * resume.css
 */
body {
    margin: 0 auto 0 auto;
    font-size: 90% ;
    line-height: 1.125em ;
    background: #4573b3 url(../i/bg.png) top center repeat-y;
}

body, ,
dd, dt, li, p, a, em, acronym,
abbrev, sup, textarea, input, label  {
 font-family: Lucida Grande, Tahoma, Arial, Helvetica, sans-serif;
 font-size: 0.875em ;
}

.page {
    width: 85%;
    margin: 1em auto;
    text-align: center;
}

nav {
    font-family: 'Droid Sans', serif;
    z-index: 5000;
    background: #fff url("../img/container-bg.png");
    -webkit-box-shadow: 0px 2px 4px rgba(3, 3, 3, 0.2);
    -moz-box-shadow: 0px 2px 4px rgba(3, 3, 3, 0.2);
    box-shadow: 0px 2px 4px rgba(3, 3, 3, 0.2);
}














