/*
 * resume.css
 */
/*  xs, sm, md, lg are cut off at 768px, 992px, and 1200px. */

body {
    width: 85%;
    margin: 0 auto 0 auto;
    line-height: 1.125em ;
    background: #4573b3 url(../i/bg.png) top center repeat-y;
    background: chocolate;
}
body, ,
dd, dt, li, p, a, em, acronym,
abbrev, sup, textarea, input, label  {
 font-family: Lucida Grande, Tahoma, Arial, Helvetica, sans-serif;
 font-size: 0.875em ;
}

a:visited:before {
   content:  "\2713 ";
}

.page {
    margin: 1em auto;
    text-align: center;

    background-color: #fff;
}
.page .container-fluid {
    text-align: left;
}

/* header section */
h2, h3, h4,
.leadItem {
    font-weight: 600;
    border-bottom: 1px solid;
}
.sList li:before {
    content: "\2014 ";
    padding-right: 1em;
}
.sList li.leadItem:before {
    content: "";
}
.sList .leadItem {
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid;
    margin-bottom: 1em;
}

/* experience section */
.jobsList li {
    margin: 1em .2em 1em 0;
    padding-top: .5em;
}
.jobsList li:after {
    border-bottom: 1px dotted grey;
}
.jobsList li:hover {
    background-color: #ddd;
}
.companyInfo {
    text-align: right;
}
@media (max-width: 979px) {
    .companInfo {
        border-bottom: 1px solid;
    }
    .description {
        border-left: none;
    }
}
.companyInfo span {
    display: block;
}
.companyInfo span.title {
    font-weight: 800;
}
.companyInfo span.company {
}
.title span.when {
    font-style: italic;
}
.description {
    border-left: 1px solid;
}
@keyframes drawBorder {
  from {
    border-left: none;
  }
  to {
    border-left: 1px solid;
  }
}

.tags {
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tags span {
    text-transform: uppercase;
    font-weight: 800;
}
/*
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 1), inset 0 0 50px rgba(0, 0, 0, 0.1);
}
.page:before, .page:after
{
    position: absolute;
    width: 40%;
    height: 10px;
    content: ' ';
    left: 12px;
    bottom: 12px;
    background: transparent;
    -webkit-transform: skew(-5deg) rotate(-5deg);
    -moz-transform: skew(-5deg) rotate(-5deg);
    -ms-transform: skew(-5deg) rotate(-5deg);
    -o-transform: skew(-5deg) rotate(-5deg);
    transform: skew(-5deg) rotate(-5deg);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.page:after {
    left: auto;
    right: 12px;
    -webkit-transform: skew(5deg) rotate(5deg);
    -moz-transform: skew(5deg) rotate(5deg);
    -ms-transform: skew(5deg) rotate(5deg);
    -o-transform: skew(5deg) rotate(5deg);
    transform: skew(5deg) rotate(5deg);
}
*/

.page {
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.page:before, .page:after {
    content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    border-radius:100px / 10px;
}
.page:after {
    right:10px;
    left:auto;
    transform:skew(8deg) rotate(3deg);
}

header {
    padding: 1em;
}

.drawUnderline {
    bottom: 1em;
}
.drawUnderline span:nth-child(1) {
    left: 0%;
    right: 100%;
}
.drawUnderline span:nth-child(2) {
    left: 0%;
    right: 100%
}
line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: drawUnderline 2s ease forwards;
  animation: drawUnderline 2s ease forwards;

/*  transition: stroke-dashoffset 5s ease-in-out;*/
}

@keyframes drawUnderline {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
nav {
    font-family: 'Droid Sans', serif;
    z-index: 5000;
    -webkit-box-shadow: 0px 2px 4px rgba(3, 3, 3, 0.2);
    -moz-box-shadow: 0px 2px 4px rgba(3, 3, 3, 0.2);
    box-shadow: 0px 2px 4px rgba(3, 3, 3, 0.2);
}
#navbar li {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
#navbar {
    margin-bottom: 0;
    z-index: 5;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
/*    height: */
}
#navbar,
#navbar a {
  color: beige;
  border-color: darkslategray;
  font-size: 18px;
  line-height: 18px;
    margin-top: 14px;
  opacity: 40;
  -khtml-opacity: 40;
  -moz-opacity: 40;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
  filter: alpha(opacity=4000);
}
#navbar a:focus,
#navbar a:hover {
    color: bisque;
}

/* aslett clearing method */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both ;
  visibility: hidden ;
}
.clearfix {
  display: inline-table;
}
/* backslash hack hides from IE mac \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block ;
}
/* end backslash hack */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.accessible {
  margin: 0 0 0 -10000px;
  display: none;
}











