// resume.less

@light-bg-color : #F2F0FF; //
@header-fg-color: #2D2B38;
@light-fg-color: smoke;
@dark-bg-color: #2D2B38;

// pallet: duo-darksea
@dk-bg: #1D262F;
@lt-blue: #D6E9FF;
@md-blue: #91C1F8; // rgb(145, 193, 248);
@md-blue-tag: #66ACF1;
@br-green: #67FECC;
@md-green: #22D398;
@dk-steel: #485B55;
@lt-pink: #E05F7C;

@bg-body:  #1D262F; // dk-bg
@hd1: #67FECC; // br-green
@hd1-inv: #22D398; // md-green
@hd2: #049061; // darker green;
@hd2-inv: #D6E9FF; // light
@text: #1D262F; // dk-bg
@inv-text: #F2F0FF; // light-bg
@gr-hilite: #67F09F;
@bg-content: #E7F9F2; // lt green

// sizing breakpoints: xs, sm, md, lg are cut off at 768px, 992px, and 1200px
// Extra small screen / phone
@screen-xs: ~"only screen and (max-width: 480px)";

// Small screen / tablet
@screen-sm: ~"only screen and (max-width: 768px)";

// only larger screens
@screen-md-plus: ~"only screen and (min-width: 768px)";

// Medium screen / desktop
@screen-md: ~"only screen and (max-width: 992px)";

// Large screen / wide desktop
@screen-lg: ~"only screen and (max-width: 1200px)";

// mixins
.List-bullet-sm(@len: 10px, @ml: -4px, @top: 7px, @color: blue) {
    position: absolute;
    top: @top;
    width: @len;
    height: @len;
    margin-left: @ml;
    color: @color;
    fill: @color;

    // build the content svg image string with @color parameter
    @contentString1: ~'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><circle fill="';
    @contentString3: ~'" cx="5" cy="5" r="2"/></svg>';
    content: url('@{contentString1}@{color}@{contentString3}');
}

.clearfix {   zoom: 1; // For IE 6/7 (trigger hasLayout)
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear:both;
    }
}

// components needing "a fix"
body,
#banner,
.content,
.drawUnderline,
#jobs li,
#edu li,
.school,
div.description,
div.where,
section.ed,
div div.extras:last-child {
    .clearfix;
}

body {
    position: relative;
    width: 85%;
    padding-top: 50px;
    padding-bottom: 20px;;
    max-width: 1200px;
    margin: 0 auto 0 auto;
    line-height: 1.125em ;
    background: #4573b3 url(../i/bg.png) top center repeat-y;
    background: @dk-bg;
}
@media @screen-sm {
    body {
        width: 100%;
        padding: 0;
    }
}

body,
dd, dt, li, p, a, em, acronym,
abbrev, sup, textarea, input, label  {
 font-family: Lucida Grande, Tahoma, Arial, Helvetica, sans-serif;
}

//** HEADER SECTION
.accessible {
  margin: 0 0 0 -10000px;
  display: none;
}
nav .glyphicon {
    margin-right: 6px;
}
em {
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    margin-right: .5em;
}
h1 {
    color: @hd1;
}
h2 {
    color: @hd2;
    padding-top: 50px;
}
@media @screen-md {
    h2 {
        margin-top: 0;
    }
}
ul, ol {
    list-style: none;
    padding-left: 0;
    margin-bottom: 2px;
}
ul + ul, ol + ol {
    margin-top: 1.5em;
}
a:visited:before {
   content:  "\2713\0020";
}
p, li {
    font-size: 1em;
    line-height: 1.5;
}
.page {
    margin: 1em auto;
    text-align: center;
    color: @dk-bg;
    background-color: white;

    .container-fluid {
        text-align: left;
    }
}
@media @screen-sm {
    .page {
        margin: 0;
        padding: 0;

        .container-fluid {
            margin: 0;
        }
    }
}
#banner {
    width: 100%;
    overflow-x: hidden;
}
header {
    position: relative;
    background-color: @dk-bg;
    color: @inv-text;
    text-align: center;
    border-radius: 4px 4px 0 0;
    margin-bottom: 0;
}

.drawUnderline {
    position: relative;
    bottom: 0;
}
.drawUnderline span {
    position: absolute;
    left: 0;
    top: -28px;

    height: 2px;
    width: 100%;
    left: 0;
}
.drawUnderline line {
  color: @inv-text;
  stroke: @inv-text;
  stroke-width: 3;
  stroke-dasharray: 6000;
  stroke-dashoffset: 6000;

  -webkit-animation: drawUnderline 5s ease forwards;
  animation: drawUnderline 5s ease forwards;
  /*  transition: stroke-dashoffset 5s ease-in-out;*/
}
.drawUnderline svg {
  height: 3px;
  width: 100%;
}
@keyframes drawUnderline {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.tagline {
    position: relative;
    font-size: 18px;
    line-height: 2;
    width: 100%;
    color: @inv-text;
    z-index: 2;

    span {
        background: @dk-bg;
        display: inline-block;
        padding: 0 10px;
        position: relative;
        text-align: center;
        z-index: 1;
    }
}

#main > div {
    padding-bottom: 1em;
}
@media @screen-md-plus {
    #main {
        display: flex;
        overflow: hidden;

        > div {
            flex: 1;
        }
    }
}

.featuring {
    font-weight: 600;
    font-size: 16px;
    list-style: none;
    text-align: center;
    li {
        font-size: 15px;
        list-style-image: none;
        position: relative;
        &::before {
            .List-bullet-sm(@len: 14px, @ml: -21px, @top: 0, @color: green);
        }
        &::after {
            .List-bullet-sm(@len: 14px, @ml: 8px, @top: 0, @color: green);
        }
    }
}

.page {
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.content {
//    padding-top: 1em;
    position: relative;
    background-color: @bg-content;

    #profile {
        background-color: rgba(102, 172, 241, 0.35);
        border-left: 4px solid darken(rgba(102, 172, 241, 1), 20%);
    }

    #skills {
        background-color: rgba(156, 195, 148, 0.35);
        border-left: 4px solid darken(rgba(156, 195, 148, 1), 25%);

    }
}

@keyframes drawUnderline {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

// NAVIGATION BAR
.nav-fixed-scroll {
    position: fixed;  //try sticky tut
    margin-bottom: -50px; // bs: .navbar min-height = 50
    top: 0;
    display: block;
    z-index: 1001;
}

nav.navbar-inverse {
    margin-bottom: 0;

    border: none;
    border-radius: 0;
    background-image: none;
    background: @dk-bg;

    li.printLink {
        cursor: pointer;
    }
    a, li.printLink {
        opacity: 40;
        transition: opacity 0.4s ease-in;
    }
    a:focus, a:hover, li.printLink:focus, li.printLink:hover {
        color: bisque;
        opacity: 60;
        transition: opacity 0.4s ease-out;
    }
    a.active {
        font-style: normal;
        color: @br-green;
        opacity: 100;
        transition: opacity 0.4s ease-in;
    }

    // navigation content: branding & menu
    .nav-fixed-scroll {
    position: fixed;
    margin-bottom: -50px; // bs: .navbar min-height = 50
    top: 0;
    display: block;
    z-index: 1001;
    -webkit-backface-visibility: hidden;
}
    .navbar-brand,
    #navbar, #navbar ul, #navbar ul li, #navbar ul li a,
    .navbar-collapse.collapse {
        min-height: 50px;
        font-size: 18px;
        line-height: 50px;
        padding: 15px;
        padding-bottom: 0;
        margin: 0;
        padding: 0;
    }

    .navbar-collapse.collapsing {
        display: none;
    }
    .navbar-brand {
        margin-left: 15px;
    }
    #navbar, .navbar-brand {
        height: 50px;
        color: @md-blue-tag;
        font-style: oblique;
    }
    #navbar.collapse.in {
        height: auto;
        min-height: 0;

        li {
            display: block;
            padding-left: 10px;
        }
    }

    #navbar {
        margin-right: 0;
        margin-bottom: 0;
        z-index: 5;

        ul {
            margin-right: 1em;

            li {
                display: inline-block;
                margin: 0 1.5em 0 auto;
            }
        }
    }
}

//** MAIN TOP SECTION
h2, h3, h4,
.leadItem {
    font-weight: 500;
    border-bottom: 1px solid;
}

#profile {
    em {
        font-weight: bold;
        color: darken(@gr-hilite, 60%);
        text-transform: inherit;
        margin-right: 0;
    }

    dl {
        border: 4px double darken(@gr-hilite, 40%);
        border-radius: 5px;
        padding: 0.5em;

        dt {
            float: left;
            clear: left;
            width: 140px;

            text-align: right;
            font-weight: bold;
            font-style:italic; font-family: Georgia, Times, serif;
            font-size: 18px;
            line-height: 1.1;
            color: darken(@gr-hilite, 40%);

            &:after {
                content: ":";
            }
        }
        dd {
            margin: 0 0 20px 150px;
            padding: 0 0 8px 0;
            line-height: 1.2;
            font-style: oblique;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

#skills ul {
    border-top: 1px solid;

    &:first-child {
        border-top: none;
        margin-top: -10px;
        padding-top: 0;
    }

    li {
        list-style-position: outside;
        position: relative;
        padding: .5em;
        padding-left: 3em;
        margin: 0;

        &::before {
            left: 24px;
            .List-bullet-sm(@color: blue);
                //url(../assets/media/bullet_blue_sm.png); // "\276e/\276f"; // skull "\2620" sham "\2618"; // tag "\276e \0020 /\276f";// daisy \2740 \0020" ; // mdash: "\2014 ";
        }
        em {
            font-weight: 600;
            font-style: normal;
            color: darken(cornflowerblue, 20%);
            margin-right: 0;
            text-transform: none;
        }
    }

    li.leadItem {
        text-align: center;
        text-decoration: none;
        font-weight: 600;
        padding: .5em;
        border-bottom: 1px solid;
        margin-bottom: 1em;

        &::before {
            content: "";
        }
    }
}

//** EXPERIENCE SECTION
#jobs li {
    background-color: rgba(156, 195, 148, 0.35);
    margin: 1em .2em 1em 0;
    padding-top: .5em;
    border-radius: 15px;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.5);

    &:hover {
        background-color: lightgoldenrodyellow;
        box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.6);
    }

    .companyInfo {
        text-align: right;
        border-right: 1px dotted;

        span {
            display: block;
        }
        span.title {
            font-weight: 800;
        }
        span.when {
            font-style: italic;
        }
    }

    @media @screen-md {
        .companyInfo {
            border-right: none;
        }
        .company {
            border-bottom: 1px solid;
            margin-bottom: 1em;
            padding-bottom: .5em;
        }
        .description {
            border-left: none;
            padding-bottom: .5em;
        }
    }
}

.title
.description {
    border-left: 10px solid @gr-hilite;
}
@keyframes drawBorder {
  from {
    border-left: none;
  }
  to {
    border-left: 1px solid;
  }
}

.tags {
    background-color: @md-blue-tag;
    padding: .5em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        text-transform: uppercase;
        font-weight: 800;
    }
}
@media @screen-xs {
    .tags {
        display: block;
        align-items: flex-start;
        justify-content: flex-start;
        padding-right: 2em;

        span {
            &::after {
                content: ',\0020'
            }
        }
        span:last-child {
            &::after {
                content: ''
            }
        }
    }
}

//** EDUCATION SECTION
#edu li {
    padding: .5em;
    padding-bottom: 1em;
    border-bottom: 1px solid;

    &:hover {
        background: #ddd;
    }
    .school {
        background-color: floralwhite;
        font-weight: 600;
        padding: .5em;
        border-radius: 10px;
        &:hover {
            background-color: burlywood;
        }
    }
    .extras {
        padding-top: .5em;
        padding-left: 3em;
    }
}

//** GENERAL/EXPERIMENTAL

h1.alt {
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}
// text effects (Jorge Epuñan | http://codepen.io/juanbrujo/pens)

h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 52px; // 92px;
    padding: 60px 0 60px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
//    font-family: 'Helvetica Neue', sans-serif; font-size: 275px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;

  &.elegantshadow {
    color: @inv-text; // @dk-bg; // #131313;
    background-color: #e7e5e4;
    letter-spacing: .15em;
    text-shadow:
//      1px -1px 0 #767676,
      -1px 2px 1px #737272,
      -2px 4px 1px #767474,
      -3px 6px 1px #787777,
      -4px 8px 1px #7b7a7a,
      -5px 10px 1px #7f7d7d,
      -6px 12px 1px #828181,
      -7px 14px 1px #868585,
      -8px 16px 1px #8b8a89,
      -9px 18px 1px #8f8e8d,
      -10px 20px 1px #949392,
      -11px 22px 1px #999897,
      -12px 24px 1px #9e9c9c,
      -13px 26px 1px #a3a1a1,
      -14px 28px 1px #a8a6a6,
      -15px 30px 1px #adabab;
  }
  &.deepshadow {
    color: #08F7A7; // #e0dfdc;
    background-color: @bg-body;
    letter-spacing: .1em;
    text-shadow:
//      0 -1px 0 #fff,
      0 1px 0 #2e2e2e,
      0 2px 0 #2c2c2c,
      0 3px 0 #2a2a2a,
      0 4px 0 #282828,
      0 5px 0 #262626,
      0 6px 0 #242424,
      0 7px 0 #222,
      0 8px 0 #202020,
      0 9px 0 #1e1e1e,
      0 10px 0 #1c1c1c,
      0 11px 0 #1a1a1a,
      0 12px 0 #181818,
      0 13px 0 #161616,
      0 14px 0 #141414,
      0 15px 0 #121212,
      0 22px 30px rgba(0, 0, 0, 0.9);
  }
  &.insetshadow {
    color: #202020;
    background-color: #2d2d2d;
    letter-spacing: .1em;
    text-shadow:
      -1px -1px 1px #111,
      2px 2px 1px #363636;
  }
  &.retroshadow {
    color: #2c2c2c;
    background-color: #d5d5d5;
    letter-spacing: .05em;
    text-shadow:
      4px 4px 0px #d5d5d5,
      7px 7px 0px rgba(0, 0, 0, 0.2);
  }
}

@media all {
    .page-break	{ display: none; }
}

@media @screen-xs {
    h1 {
        font-size: 40px;
        margin-top: 0; // bootstrap override
    }
}

//** PRINT MEDIA
@media print {

    .page-break	{ display: block; page-break-before: always; }

    h1 {
        font-size: 22px;
        padding: 10px;
    }

    h2 {
        padding-top: 0;
    }
    nav,
    .navbar.collapse.in,
    .navbar-brand,
    .glyphicon {
        display: none;
    }

    .content {
        font-size:11pt;
        color: black;

        p, li {
            orphans: 4;
            widows: 4;
        }
    }

    #profile, #education li,
    #jobsList li {
        page-break-inside: avoid;
    }

    // chrome: uses sm/md screen size
    .companyInfo {
        border-right: none;
    }
    .company {
        border-bottom: 1px solid;
        margin-bottom: 1em;
        padding-bottom: .5em;
    }
    .description {
        border-left: none;
        padding-bottom: .5em;
    }
}
