<ul id="edu">
{{#each schools}}
<li><div class="school">
    <div class="degree col-md-4">{{ degree }}</div>
    <div class="when col-md-3">{{ when }}</div>
    <div class="where col-md-5">{{ where }}</div>
</div>

<div class="hidden-xs hidden-sm col-md-4">&nbsp;</div>
<div class="extras col-md-8">{{#eachArray extras wrapTag='div'}}{{/eachArray}}</div>
</li>
{{/each}}
</ul>
