<ul id="jobs">
    {{#each jobs}}
        <li>
            <div class="companyInfo col-md-4">
                <span class="title">{{ title }}</span>
                <span class="when">{{ when }}</span>
                <span class="company">{{ company }}</span>
            </div>
            <div class="description col-md-8">
                <p>{{{ desc }}}</p>
                <p class="tags">
                    {{#eachArray tags wrapTag="span"}}
                    {{/eachArray}}
                </p>
            </div>
        </li>
    {{/each}}
</ul>
